@model IEnumerable<WebApplication2.Models.MensajeViewModel>
<style>
    .chat-container {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .message {
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f2f2f2;
        position: relative;
    }

    .message-content {
        margin-bottom: 5px;
    }

    .message-details {
        font-size: 12px;
        color: #777;
    }

    .message-user {
        margin-left: 10px;
    }

    .message-date {
        margin-right: 10px;
    }
</style>


<div class="container">
    <div class="row">


            <!-- Conversación -->
            <div class="chat-container">
                @foreach (var item in Model)
                {
                    <div class="message">
                        <div class="message-content">
                            @Html.DisplayFor(modelItem => item.Contenido)
                        </div>
                        <div class="message-details">
                        @if (item.Dias == 0)
                        {
                            <span class="message-date">hoy</span>
                        }
                        else if (item.Dias == 1)
                        {
                            <span class="message-date">ayer</span>
                        }
                        else
                        {
                            <span class="message-date">
                                hace
                                @Html.DisplayFor(modelItem => item.Dias) días
                            </span>
                        }
                        
                            <span class="message-user">@Html.DisplayFor(modelItem => item.Usuario)</span>
                            <!-- Opciones adicionales si es necesario -->
                            <!-- Edit | Details | Delete -->
                        </div>
                    </div>
                }
            </div>
        </div>
</div>
