@model IEnumerable<WebApplication2.Models.PeliculaViewModel>

<div class="row">
    <h5>Para ver</h5>
    @foreach (var item in Model)
    {
        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
            <div class="card border-0">
                <a href="@Url.Action("Details", "Pelicula", new { id = item.Id })">
                    <img src="@item.caratula" class="card-img-top img-fluid shadow p-1  bg-white rounded" alt="Carátula">
                </a>
                <div class="mask"></div>
                
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">@item.nombre</h5>
            </div>
        </div>
    }
</div>