@model WebApplication2.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Create";
    IEnumerable<SelectListItem> listaAvatares = (IEnumerable<SelectListItem>)ViewData["Avatares"];
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-form">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-light p-4">
            <h1>Registro de usuario</h1>
            <hr />
            <form asp-action="Create" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreUsuario" class="control-label"></label>
                    <input asp-for="NombreUsuario" class="form-control" />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNac" class="control-label"></label>
                    <input asp-for="FechaNac" class="form-control" />
                    <span asp-validation-for="FechaNac" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Localidad" class="control-label"></label>
                    <input asp-for="Localidad" class="form-control" />
                    <span asp-validation-for="Localidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pais" class="control-label"></label>
                    <input asp-for="Pais" class="form-control" />
                    <span asp-validation-for="Pais" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pass" class="control-label"></label>
                    <input asp-for="Pass" class="form-control" />
                    <span asp-validation-for="Pass" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar" class="control-label"></label>
                    <select asp-for="Avatar" class="form-select" asp-items="listaAvatares"></select>
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Registrarse" class="btn btn-primario" />
                    <a asp-action="Login" class="btn btn-secondary">Tengo Cuenta</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="box-of-star1">
    <div class="star star-position1"></div>
    <div class="star star-position2"></div>
    <div class="star star-position3"></div>
    <div class="star star-position4"></div>
    <div class="star star-position5"></div>
    <div class="star star-position6"></div>
    <div class="star star-position7"></div>
</div>
<div class="box-of-star2">
    <div class="star star-position1"></div>
    <div class="star star-position2"></div>
    <div class="star star-position3"></div>
    <div class="star star-position4"></div>
    <div class="star star-position5"></div>
    <div class="star star-position6"></div>
    <div class="star star-position7"></div>
</div>
<div class="box-of-star3">
    <div class="star star-position1"></div>
    <div class="star star-position2"></div>
    <div class="star star-position3"></div>
    <div class="star star-position4"></div>
    <div class="star star-position5"></div>
    <div class="star star-position6"></div>
    <div class="star star-position7"></div>
</div>
<div class="box-of-star4">
    <div class="star star-position1"></div>
    <div class="star star-position2"></div>
    <div class="star star-position3"></div>
    <div class="star star-position4"></div>
    <div class="star star-position5"></div>
    <div class="star star-position6"></div>
    <div class="star star-position7"></div>
</div>
<div data-js="astro" class="astronaut">
    <div class="head"></div>
    <div class="arm arm-left"></div>
    <div class="arm arm-right"></div>
    <div class="body">
        <div class="panel"></div>
    </div>
    <div class="leg leg-left"></div>
    <div class="leg leg-right"></div>
    <div class="schoolbag"></div>
</div>

