
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --color1: #14213D;
    --color2: #223867;
    --color3: #17A2B8;
    --color4: #FF8A01;
    --color5: #FFAD27;
    --color6: #FFCF80;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}




body {

    margin-bottom: 60px;
    font-family: 'Inter', sans-serif;
    background-color:whitesmoke;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.delete-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ccc;
    color: black;
    padding: 10px; 
    border-radius: 0; 
    z-index: 1;
    font-size: 20px; 
}


.container-form {
    margin-top: 200px;
}

.container-for {
    
    border-radius: 25px;
    box-shadow: 
}

.container-form-2 {
    margin-top: 80px;
}

.form-1 {
    
    background-color: var(--color2);
}

.color-login-bk {
    background-color: var(--color2);
}
/*-------------------------------------NUMERO CARATULA CALENDARIO----------------------------------------------*/
/*------------------------------------------------MODAL--------------------------------------------------------*/
.day-badge {
    position: absolute;
    top: 10px; /* Ajusta la posición verticalmente */
    left: 10px; /* Ajusta la posición horizontalmente */
    background-color: #ccc; /* Cambia el color a gis */
    color: black; /* Cambia el color del texto */
    padding: 10px; /* Ajusta el tamaño del cuadrado */
    border-radius: 0; /* Quita los bordes redondeados */
    z-index: 1;
    font-size: 20px; /* Ajusta el tamaño del texto */
}

.card-img-container {
    position: relative;
}


/*------------------------------------------------HOME--------------------------------------------------------*/
/*------------------------------------------------MODAL--------------------------------------------------------*/
.circle-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #808080;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Estilos para el datalist y sus opciones */
#resultadoBusqueda {
    position: absolute;
    z-index: 9999;
    background-color: white;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 5px 10px;
    margin: 0;
    max-height: 200px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Agrega scroll si el contenido excede la altura máxima */
}

#resultadoBusqueda option {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

/*------------------------------------------------CARROUSEL--------------------------------------------------------*/
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.carousel-control-prev {
    left: 10px; 
}

.carousel-control-next {
    right: 10px; 
}

/*.carousel-inner img {
    max-width: 150px;
    max-height: 200px;
}*/


.hover-overlay {
    position: relative;
}

.hover-overlay .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, hsla(168, 85%, 52%, 0), hsla(263, 88%, 45%, 0) 100%);
        transition: background 0.5s ease;
}

.hover-overlay:hover .mask {
        background: linear-gradient(45deg, hsla(168, 85%, 52%, 0.5), hsla(263, 88%, 45%, 0.5) 100%);
        pointer-events:none;
}


.carousel-control-prev,
.carousel-control-next {
    border-radius: 50%; 
    width: 40px; /* Ajusta el ancho del botón */
    height: 40px; /* Ajusta la altura del botón */
    background-color: rgba(0, 0, 0, 1); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px;
}



.icon-placeholder {
    /* Estilo para el ícono */
    display: inline-block;
    width: 30px; /* O el tamaño que prefieras */
    text-align: center;

}

.chat-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
/*------------------------------------------------MENSJAES COMUNIDADES--------------------------------------------------------*/
.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    position: relative;
}

.message-content {
    margin-bottom: 5px;
}

.message-details {
    font-size: 12px;
    color: #777;
}

.message-user {
    margin-left: 10px;
}

.message-date {
    margin-right: 10px;
}

.encabezadoChat {
    background-color: lightgrey;
    padding-top: 2px;
    padding-left: 7px;
}


/*------------------------------------------------ PLAYLIST --------------------------------------------------------*/
.btn-edit {
    background-color: green;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-details {
    background-color: orange;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-delete {
    background-color: red;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-return {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}


.playlist-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
}

.playlist-container:hover {
    background-color: #a0a0a0;
    cursor: pointer;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
    justify-content: center;
    align-items: center;
}

.btn-create {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.sidebar {
    background-color:var(--color2);
}

.menu-lateral {
    background-color: var(--color2);
    color: white;
}

.menu-lateral:hover {
    border-radius: 10px;
}



/*-----------------------------------------------------------Animacion--------------------------------------------------------------- */
.loader {
    --path: #fff;
    --dot: rgb(191, 64, 191);
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
    top: 150px;
    left: 600px;
    
}

    .loader:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 50px;
        left: 35px;
        transform: translate(-18px, -18px);
        animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loader svg {
        display: block;
        width: 100%;
        height: 100%;
    }

        
        .loader svg polygon
        {
            fill: none;
            stroke: var(--path);
            stroke-width: 10px;
            stroke-linejoin: round;
            stroke-linecap: round;
        }

        .loader svg polygon {
            stroke-dasharray: 145 76 145 76;
            stroke-dashoffset: 0;
            animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }


    .loader.triangle {
        width: 96px; /* Tamaño ajustado */
        height: 96px; /* Tamaño ajustado */
    }

        .loader.triangle:before {
            left: 21px;
            transform: translate(-10px, -18px);
            animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            width: 15px; /* Tamaño ajustado */
            height: 15px; /* Tamaño ajustado */
        }

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }

    66% {
        stroke-dashoffset: 147;
    }

    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        transform: translate(0, 0);
    }

    66% {
        transform: translate(40px, -8px);
    }

    100% {
        transform: translate(-10px, -18px);
    }
}


.loader {
    display: inline-block;
    margin: 0 16px;
}


/*-----------------------------------------------------------Animacion--------------------------------------------------------------- */

/*---------------------------------BOTONES---------------------------------------*/
/*INICION SESION & REGISTRO*/
.btn-primario {
    color: #fff;
    background-color: #14213D;
    border-color: #14213D;
}

    .btn-primario:hover {
        color: #fff;
        background-color: #14213D;
        border-color: #14213D;
    }

    .btn-check:focus + .btn-primario, .btn-primario:focus {
        color: #fff;
        background-color: #14213D;
        border-color: #14213D;
        box-shadow: 0 0 0 0.25rem rgba(20, 33, 61, 0.5);
    }

    .btn-check:checked + .btn-primario, .btn-check:active + .btn-primario, .btn-primario:active, .btn-primario.active, .show > .btn-primario.dropdown-toggle {
        color: #fff;
        background-color: #14213D;
        border-color: #14213D;
    }

        .btn-check:checked + .btn-primario:focus, .btn-check:active + .btn-primario:focus, .btn-primario:active:focus, .btn-primario.active:focus, .show > .btn-primario.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(20, 33, 61, 0.5);
        }

    .btn-primario:disabled, .btn-primario.disabled {
        color: #fff;
        background-color: #ebf4ff;
        border-color: #ebf4ff;
    }


/*PRIMARY*/
.btn-primary {
    color: #fff;
    background-color: #223867;
    border-color: #223867;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #19284a;
        border-color: #19284a;
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #19284a;
        border-color: #19284a;
        box-shadow: 0 0 0 0.25rem rgba(34, 56, 103, 0.5);
    }

    .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #19284a;
        border-color: #19284a;
    }

        .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(0, 56, 103, 0.5);
            border-color: #19284a;
        }

    .btn-primary:disabled, .btn-primary.disabled {
        color: #fff;
        background-color: #ebf4ff;
        border-color: #ebf4ff;
    }



.border-primary {
    border-color: #223867 !important;
}




.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        color: #fff;
        background-color: #5c636a;
        border-color: #565e64;
    }

    .btn-check:focus + .btn-secondary, .btn-secondary:focus {
        color: #fff;
        background-color: #5c636a;
        border-color: #565e64;
        box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
    }

    .btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #565e64;
        border-color: #51585e;
    }

        .btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
        }

    .btn-secondary:disabled, .btn-secondary.disabled {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }


btn {
    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

