<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Http

@{
    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
    string nombre = "";
    string email = "";
    if(usuario != null)
    {
        nombre = usuario.Nombre;
        email = usuario.Email;
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">



</head>
<body class="grey lighten-3">
    <header>
        <nav id="sidebarMenu" class="d-inline-block w-auto sidebar bg-white">
            <div class="position-sticky ">
                <div class="list-group list-group-flush mx-3 mt-4">

                    <a class="list-group-item list-group-item-action py-2 ripple mb-2 mt-2" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house-fill"></i>
                        <span class="d-none d-md-inline menutext"> Inicio</span>
                        <br>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple mb-2 mt-2" asp-area="" asp-controller="Usuario" asp-action="Index">
                        <i class="bi bi-search"></i>
                        <span class="d-none d-md-inline menutext"> Búsqueda</span>
                        <br>
                    </a>
                    
                    <a class="list-group-item list-group-item-action py-2 ripple mb-2 mt-2" asp-area="" asp-controller="Playlist" asp-action="Index">
                        <i class="bi bi-film"></i>
                        <span class="d-none d-md-inline menutext"> Playlists</span>
                        <br>
                    </a>
                    
                    <a class="list-group-item list-group-item-action py-2 ripple mb-2 mt-2" asp-area="" asp-controller="Usuario" asp-action="Login">
                        <i class="bi bi-unlock-fill"></i>
                        <span class="d-none d-md-inline menutext"> Iniciar Sesión</span>
                        <br>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <!--Main Navigation-->
    <br />
    <main class="pt-3 mx-lg-5">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>