@model WebApplication2.Models.MensajeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MensajeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contenido" class="control-label"></label>
                <input asp-for="Contenido" class="form-control" />
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dias" class="control-label"></label>
                <input asp-for="Dias" class="form-control" />
                <span asp-validation-for="Dias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input asp-for="Avatar" class="form-control" />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comunidad" class="control-label"></label>
                <input asp-for="Comunidad" class="form-control" />
                <span asp-validation-for="Comunidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComunidadDescripcion" class="control-label"></label>
                <input asp-for="ComunidadDescripcion" class="form-control" />
                <span asp-validation-for="ComunidadDescripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
