@model IEnumerable<WebApplication2.Models.NotificacionesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Mis notificaciones</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="row">
            <!-- Imagen -->
            <div class="col-xl-1">
                @Html.DisplayFor(modelItem => item.Fecha)
            </div>

            <!-- Contenido -->
            <div class="col-xl-11">
                @Html.DisplayFor(modelItem => item.Contenido)
            </div>
        </div>
    }
</div>